a,
a:visited,
a:hover,
a:active {
    color: #0099FF;
}

.content {
    margin-left: 20px;
}

.content>div {
    margin-bottom: 20px;
}

h1,
h2 {
    color: white;
}

/* touch-screen only rules */

@media (min-resolution: 192dpi),
(max-width: 900px) {

    /* larger left margin, add right margin */
    .main {
        margin-left: 30px;
        margin-right: 30px;
    }

    /* can take whole width, larger left margin */
    .content {
        max-width: unset;
        margin-left: 50px;
    }

    /* image should be absoulte center, instead of text-block-relative */
    .img-me-container {
        margin-left: unset;
    }

    /* leave more space next to the icons at the bottom */
    .contact-link>a {
        margin-left: 15px;
    }

    /* keep icon container width */
    .icon-container {
        width: 40px !important;
    }
}

/* image related */
.img-me-container {
    text-align: center;
}

img.me {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

/* about related */
.about-div {
    text-align: justify;
}

.about-div b {
    color: white;
}

/* career related */

.career-top {
    position: relative;
}

.career-place {
    margin-bottom: 1.2rem;
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
}

.career-link {
    font-size: 75%;
    position: absolute;
    left: -20px;
    top: 6px;
}

.career-role {
    position: relative;
    margin-bottom: 1.2rem;
}

.career-border {
    position: absolute;
    height: 100%;
}

.career-border-top,
.career-border-mid,
.career-border-bottom {
    height: 33%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: rgb(201 201 201 / 33%);
    font-size: 66%;
}

.career-border-top,
.career-border-bottom {
    background-color: rgb(201 201 201 / 33%);
    width: 0.125rem;
    margin-left: auto;
    margin-right: auto;
}

.career-border-top {
    margin-top: -0.5rem;
    height: calc(33% + 0.5rem);
}

.career-border-bottom {
    margin-bottom: -0.5rem;
    height: calc(33% + 0.5rem);
}

.career-top:last-of-type .career-role:last-of-type .career-border-bottom {
    display: none;
}

.career-title,
.career-time,
.career-brief {
    margin-left: 2rem;
}

.career-title {
    font-weight: bold;
    color: white;
}

.career-brief {
    text-align: justify;
    font-size: 80%;
}

*/
/* contact related */

.icon-container {
    width: 20px;
}

.contact-link {
    font-size: 120%;
}

.contact-link>a {
    margin-left: 5px;
}