.main {
    min-width: 390px;
}

.col {
    float: left;
}

/* side menu */

.menu {
    color: white;
    margin-right: 20px;
    width: calc(30% - 20px);
}

.menu>div {
    text-align: end;
}

.menu-name {
    font-size: 190%;
    text-transform: uppercase;
}

.menu-title {
    text-transform: uppercase;
}

hr {
    border-color: rgb(101, 101, 101);
    margin-top: 20px;
    margin-bottom: 20px;
}

a, a:visited, a:hover, a:active {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.toc {
    margin-bottom: 10px;
}

.toc>a {
    text-transform: uppercase;
    color: rgb(201, 201, 201);
}

/* entries */

.content {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: calc(100vh - 60px);
    overflow-y: auto;
}

.entry {
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

.entry:first-of-type>h2 {
    margin-top: 0;
}

.entry>h2 {
    color: white;
}

.entry>h2, .entry>div {
    margin-bottom: 10px;
}
